<div class="col-xs-12">
  <table class="table">
    <thead>
      <th class="ta-center">时间</th>
      <th class="ta-center">标题</th>
      <th class="ta-center">说明</th>
      <th class="ta-center">路径列表(经度, 维度)</th>
      <th>操作</th>
    </thead>
    <tr ng-repeat="path in pathList">
      <td align="center">{{path.date | date: "yyyy-MM-dd HH:ss:mm"}}</td>
      <td align="center">{{path.title}}</td>
      <td align="center">{{path.content}}</td>
      <td align="center">
        <ul>
          <li ng-repeat="point in path.pointList" class="d-b">
            ({{point.lng}}, {{point.lat}})
          </li>
        </ul>
      </td>
      <td>
        <div class="btn-group">
          <button class="btn btn-default" ng-click="recoverPolyline()">
            <span class="glyphicon glyphicon-open"></span>查看
          </button>
        </div>
      </td>
    </tr>
  </table>
</div>
